cppzmq-4.5.0
libpqxx-6.4.5
scons-3.1.1
zeromq-4.3.2
*.o
*~
atc/.sconsign.dblite
third_party/protobuf-3.11.2/
atc/atc
atc/drone
atc/worker
atc/test
atc/logs/*
workers/a.out
config.txt
third_party/opencv-4.2.0/
third_party/raspicam/
third_party/cpp-base64/
third_party/archive/opencv-4.2.0/
third_party/boost_1_72_0/
third_party/libb64-1.2.1/
third_party/cpp-netlib-0.13.0-final/
third_party/cpp-httplib-0.5.9/
third_party/json-3.7.3/
third_party/spdlog-1.5.0/
